* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient( 135deg, #00feba, #5b548a);
}

.container {
    width: 90%;
    height: 100vh;
    max-width: 470px;
    color:#fff;
    margin: 100px auto 0;
    border-radius: 20px;
    /*padding: 40px 35px;*/
    text-align: center;
}

.pesquisa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pesquisa input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.pesquisa button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.pesquisa button img {
    width: 16px;
}

.loc {
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.loc button {
    color:hwb(0 100% 0%);
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    padding: 0 !important;
    font-weight: bold;
}

.clima-icon {
    width: 170px;
    margin-top: 30px;
}

.clima h1 {
    font-size: 80px;
    font-weight: 500;
}

.clima h2 {
    font-size: 80px;
    font-weight: 400;
    margin-top: -10px;
}

.detalhes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 15px;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.umidade, .vento {
    font-size: 28px;
    margin-top: -6px;
}

.clima {
    display: none;
}

.erro {
    text-align: right;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}